[honeypot]
# SSH
ssh_port = 2222
# Telnet  
telnet_port = 23

# Logging
log_path = /home/ubuntu/test-honeypot/data/cowrie.json
log_json = true

# Credentials (honeypot credentials)
auth_jeff_password = "password"
auth_admin_password = "admin123"

# Fake filesystem
filesystem_broker = base64
filesystem_base64 = data/fake_filesystem.tar.gz