[honeypot]
ssh_port = 2222
telnet_port = 23
auth_none = false
auth_password = true
auth_publickey = false
allow_agent_forwarding = false

# Absolute paths - no subdirs added automatically
[output_jsonlog]
enabled = true
logfile = /cowrie/var/log/cowrie.json

[output_telnet]
enabled = true