# Apache Virtual Host Template for Honeypot
# INSTALL: sudo cp honeypot.hiddenlabs.cc.conf /etc/apache2/sites-available/
#          sudo a2ensite honeypot.hiddenlabs.cc
# DO NOT commit secrets to this file

<VirtualHost *:80>
    ServerName honeypot.hiddenlabs.cc
    Redirect permanent / https://honeypot.hiddenlabs.cc/
</VirtualHost>

<VirtualHost *:443>
    ServerName honeypot.hiddenlabs.cc
    
    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/honeypot.hiddenlabs.cc/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/honeypot.hiddenlabs.cc/privkey.pem
    
    # Dashboard endpoint
    ProxyPreserveHost On
    ProxyPass /dashboard http://localhost:8000/dashboard
    ProxyPassReverse /dashboard http://localhost:8000/dashboard
    
    # Grafana endpoint
    ProxyPass /grafana http://localhost:3000
    ProxyPassReverse /grafana http://localhost:3000
    
    # API endpoints
    ProxyPass /api http://localhost:8000
    ProxyPassReverse /api http://localhost:8000
</VirtualHost>